.cl-icon {
    --cl-icon-color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--cl-icon-color);
    font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
    .cl-icon--$(val) {
        --cl-icon-color: var(--cl-color-$(
                val)
        );
}
}